.non-metal {
    border: 5px outset #c0c0c0;
    background-color: #0000cd;    
    text-align: center;
    width: 100px;
    height: 100px;
    border-radius: 15px;
    transition: transform .2s;
    font-family: sans-serif;
    text-align: center;
  }
  .non-metal:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
    font-family: sans-serif;
  }


  .alkali-metal {
    border: 5px outset #c0c0c0;
    background-color: red;    
    text-align: center;
    width: 100px;
    height: 100px;
    border-radius: 15px;
    transition: transform .2s;
    font-family: sans-serif;
    text-align: center;
  }
  .alkali-metal:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
  }


  .noble-gas {
    border: 5px outset #c0c0c0;
    background-color: #ba55d3;    
    text-align: center;
    width: 100px;
    height: 100px;
    border-radius: 15px;
    transition: transform .2s;
    font-family: sans-serif;
    text-align: center;
  
  }
  .noble-gas:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
  }


  .alkaline-earth {
    border: 5px outset #c0c0c0;
    background-color: #ff8c00;    
    text-align: center;
    width: 100px;
    height: 100px;
    border-radius: 15px;
    transition: transform .2s;
    font-family: sans-serif;
    text-align: center;
  }
  .alkaline-earth:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
  }


  .semi-metal {
    border: 5px outset #c0c0c0;
    background-color: #00bfff ;    
    text-align: center;
    width: 100px;
    height: 100px;
    border-radius: 15px;
    transition: transform .2s;
    font-family: sans-serif;
    text-align: center;
  }
  .semi-metal:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
  }


  .Halogen {
    border: 5px outset #c0c0c0;
    background-color: #dda0dd;    
    text-align: center;
    width: 100px;
    height: 100px;
    border-radius: 15px;
    transition: transform .2s;
    font-family: sans-serif;
    text-align: center;
  }
  .Halogen:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
  }


  .basic-metal {
    border: 5px outset #c0c0c0;
    background-color: #006400;    
    text-align: center;
    width: 100px;
    height: 100px;
    border-radius: 15px;
    transition: transform .2s;
    font-family: sans-serif;
    text-align: center;
  }
  .basic-metal:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
  }


  .transition-metal {
    border: 5px outset #c0c0c0;
    background-color: #FFD700;    
    text-align: center;
    width: 100px;
    height: 100px;
    border-radius: 15px;
    transition: transform .2s;
    font-family: sans-serif;
    text-align: center;
  }
  .transition-metal:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
  }


  .Lathanides {
    border: 5px outset #c0c0c0;
    background-color: #ec3b83;    
    text-align: center;
    width: 100px;
    height: 100px;
    border-radius: 15px;
    transition: transform .2s;
    font-family: sans-serif;
    text-align: center;
  }
  .Lathanides:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
  }


  .Acthanides {
    border: 5px outset #c0c0c0;
    background-color: #f2003c;    
    text-align: center;
    width: 100px;
    height: 100px;
    border-radius: 15px;
    transition: transform .2s;
    font-family: sans-serif;
    text-align: center;
  }
  .Acthanides:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
  }


  table, th, td {
    border: 5px solid white;
    border-collapse: collapse;
    text-align: center;
  }
  h5{
    font-family: sans-serif;
    text-align: center;
  }
  h6{
    font-family: sans-serif;
  }
  h1{
    font-family: sans-serif;
    text-align: center;
  }